#base-carrinho{
	width: 900px;
	margin: 0 auto;
}
#base-carrinho h2{
	height: 38px;
	padding: 5px;
}
#base-carrinho h3{
	margin-top: 20px;
	height: 100px;
}
/** Tabela */
table {
	border-collapse: collapse;
	border: 1px solid #ccc;
	background: #fff;
	width: 100%;
	margin-top: 8px;
	text-align: center;
}

table thead{
	font: 16px Tahoma, Geneva, sans-serif;
	font-weight: bold;
	color: #FFF;
	background: #28a5d9;
}

table thead tr th{
	padding: 3px 0;
}

table tbody{
	font: 16px Tahoma, Geneva, sans-serif;
	color: #000;
	
}

table tbody tr td{
	padding: 3px;
	border: 1px solid #ccc;	
	vertical-align: middle;
}

table tbody tr td img{
	float: left;
}
table tbody tr td stong{
	font-size: 10px;
}
table tbody tr:hover{
	background: #f4f4f4;
}
/** fim tabela */
#linha{
	width: 900px;
	height: 54px;
	border: 1px solid #ccc;
	background: #fff;
	margin-top: 10px;
	padding: 5px; 
}

#linha img{
	float: right;
	padding-left: 4px;
	cursor: pointer;
}